@import url('./normalize.css');

/*Base Styles*/
* {
  box-sizing: border-box;
}

/* min-height added because image of iphone has a height of 600px so if
window/viewport ever has height less then 600px the iPhone height wont bleed
over the height of #root div. This would cause the inset box-shadow to offset
from the bottom */
html,
body {
  font: 1rem / 1.5 sans-serif;
  height: 100%;
  max-height: 100%;
  min-height: 600px;
}
